#footer {
    background-color: darkslateblue;
    padding: 10px;
    color: white;
}

.selectedFighters {
    margin-left: 25px;
    margin-right: 25px;
    min-width: 110px;
    max-width: 110px;
    min-height: 110px;
    max-height: 110px;
}

#fightButton {
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    color: yellow;
    font-size: 28px;
}