#resultsBody {
    padding-bottom: 10%;
    text-align: center;
}

#winnerHeader {
    font-size: 58pt;
    align-items: middle;
    margin: 50pt;
    font-weight: bold;
    padding-top: 0pt;
    margin-top: 0pt;
}

#winnerPic {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
}

#resultsButtons {
    margin: 20pt;
    font-size: 36px;
}

#winnerText {
    font-size: 36pt;
}