.catBox {
    color: transparent !important;
    opacity: 1.0;
    margin: 15px;
    padding: 0px;
    min-width: 310px;
    max-width: 310px;
    min-height: 310px;
    max-height: 310px;
    background-size: cover;
    font-size: 30pt !important;
    font-weight: bold !important;
}

.catBox:hover {
    color: yellow !important;
    opacity: 0.8;
}

.catBox:active {
    color: red !important;
    opacity: 0.8;
}