#body{
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
}

.fighter {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
}

.fight {
    margin: 20px;
    min-width: 535px;
    max-width: 535px;
    min-height: 300px;
    max-height: 300px;
}

#resultsButton {
    margin-top: 5%;
    font-size: 24pt;
}